.container{
	display:grid;
	grid-template-columns: repeat(11, auto);
	grid-template-rows: repeat(8, auto);
	grid-gap: 5px 5px;
	height: 100vh;
	align-content: center;
	justify-content: center;



}

.box{
	width: 100%;
}

p {
	
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	padding: 10px;
}

.one {
	background-color: #54D5EB;
	grid-column: 1 / span 8;
	grid-row: 1 / span 1;

}

.two {
	background-color: #D7C9E3;
	grid-column: 1 / span 4;
	grid-row: 2 / span 3;
}

.three {
	background-color: #9FC363;
	grid-column: 1 / span 4;
	grid-row: 5 / span 4;
	
}

.four {
	background-color: #2BB673;
	grid-column: 1 / span 6;
	grid-row: 9 / span 2;
}

.five {
	background-color: #FFA500;
	grid-column: 1 / span 8;
	grid-row: 11 / span 1;
}

.six {
	background-color: #F5C632;
	grid-column: 5 / span 4;
	grid-row: 2 / span 5;
}
.seven {
	background-color: #898989;
	grid-column: 5 / span 4;
	grid-row: 7 / span 2;
}

.eight {
	background-color: #F3CCDE;
	grid-column: 7 / span 2;
	grid-row: 9 / span 2;
}